a {
  transition: opacity .2s;
  cursor: pointer;
  color: #444;
}
a:hover {
  color: #666;
}

body {
  font-family: helvetica;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  margin: 0;

  background-color: #eceef1;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  letter-spacing: 3px;
  font-weight: 100;
  margin: 20px;
}

.container {
  width: 60%;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .container {
    width: 85%;
  }
}

ol.favorites-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #fff;
  counter-reset: li;
}

li.favorites-list-item {
  display: table;
  width: 100%;
  box-sizing: border-box;
  table-layout: fixed;
  border-bottom: 1px solid #edeefe;

  padding-top: 15px;
  padding-right: 20px;
  padding-left: 40px;
  padding-bottom: 15px;

  position: relative;
  list-style: none;
}
li.favorites-list-item:before {
  content:counter(li);
  counter-increment:li;
  color: #444;
  position: absolute;
  top: 25px;
  left: 15px;
}
li.favorites-list-item:last-child {
  border-bottom: none;
}
li.favorites-list-item .item-title {
  display: block;
  text-decoration: none;
  color: #222;
  font-weight: 600;
  line-height: 20px;
}
li.favorites-list-item .item-title:hover {
  opacity: 0.92;
}
li.favorites-list-item .item-meta {
  font-weight: 500;
  font-size: 11px;
  line-height: 17px;
  color: #444;
}
li.favorites-list-item .item-meta .item-meta-bullet {
  padding: 0 5px;
  color: #555;
}

.more-container {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
}
.more-container a {
  text-decoration: none;
}
.more-container a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-top: 1px solid #aaa;
  color: #444;
}

footer span {
  width: 100%;
  display: table;
  margin-bottom: 3px;
}

/* Modal styles */
.muddle-overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 0;
  background: rgba(250, 250, 250, 0.6);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.md-active ~ .muddle-overlay {
  opacity: 1;
  visibility: visible;
}
body.md-active {
  overflow: hidden;
}
.muddle-modal {
  visibility: hidden;
  z-index: 2000;
  position: fixed;
  overflow: auto;
  top:40%;
  left:50%;
  max-width:700px;
  min-width: 320px;
  height: auto;

  background-color: rgba(248, 248, 248, 1);
  border-radius: 2px;
  border-bottom: 0 none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.md-anim .md-content {
  -webkit-transform: translateY(20%);
  -moz-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.md-active.md-anim .md-content {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.md-active {
  visibility: visible;
}
.md-body {
  padding: 30px;
  line-height: 17px;
  font-size: 13px;
}
.md-body h1 {
  margin-top: 0;
  text-align: center;
}

